.Icon {
  display: inline-block;
  transition: all 200ms ease-in-out;
}

.Icon svg {
  height: 100%;
  width: 100%;
}

.Icon--rotate-90 {
  transform: rotate(90deg);
}

.Icon--rotate-180 {
  transform: rotate(180deg);
}

.Icon--rotate-270 {
  transform: rotate(270deg);
}
