// Real
// $primary-darker: #e34234;
$primary-main: #f07747;
$primary-lightest: #e88660;
// $secondary-darker: #005b94;
$secondary-main: #34d5e3;
// $secondary-lightest: #99d8ff;
$neutral-white: #ffffff;
$neutral-border: #bebfba6c;
$neutral-text: #000000;
$neutral-text-secondary: #6b6b6b;
$inactvie-grey: #eeeeee;
$form-bg: #f7f7f7;

// Page Backgrounds
$page-background: #fffbf4;
$aside-background: #fffcf8;
$card-background: #fff9f1;

// Selected States
$tab-selected: #e1e0de;

// Hover States
// $primary-main-hover: #e34234;
// $primary-lightest-hover: #f7a07e;
$secondary-main-hover: #1bafbc;
// $secondary-lightest-hover: #82cefd;
// $secondary-darker-hover: #00558a;
$inactvie-grey-hover: #dddddd;
// $card-background-hover: #fce7cb;

// Transitons
$trans-basic: all 0.25s;

// Overlay
$overlay-main: #00000088;

// Box-Shadows from:
// https://getcssscan.com/css-box-shadow-examples
$box-shadow-5: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$box-shadow-15: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
$box-shadow-62: rgba(104, 104, 104, 0.096) 3px 3px 6px 0px inset,
  rgba(73, 73, 73, 0.096) -3px -3px 6px 1px inset;

// Border-radius
$border-radius-base: 0.5rem;

// Made up Colors
$status-green: #6deb54;
$status-red: #d32c2c;
$status-grey: #666161;
$status-gold: #daab3e;
$error: #e00a0a;
$crit-form-bg: #f2d2c5;
