@import "../../../styles/partials/typography";
@import "../../../styles/partials/variables";

.PageNav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: $header-height;
  background-color: $secondary-darker;

  ul {
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    height: 100%;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      height: 100%;
      a {
        @include H6();
        display: flex;
        align-items: center;
        color: $neutral-white;
        padding-inline: 1rem;
        height: 100%;
        white-space: nowrap;
        transition: background 200ms ease-in-out;

        &:hover {
          background-color: $secondary-darker-hover;
        }
      }
    }
  }
}
