@import "../../../styles/partials/typography";
@import "../../../styles/partials/variables";

.PageNav {
  position: fixed;
  top: 0;
  display: flex;
  width: 35.5rem;
  height: 4rem;
  background-color: red;
  border-bottom-right-radius: 200rem;
  border-bottom: 4px solid $neutral-text;
  border-right: 30px solid $neutral-text;

  ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    list-style: none;

    li {
      a {
        @include H5();
        color: $neutral-text;
        width: max-content;
        padding: 0.5rem;
        background-color: $secondary-main;
        border-radius: $border-radius-base;
        white-space: nowrap;
        transition: background 200ms ease-in-out;

        &:hover {
          background-color: $secondary-main-hover;
        }
      }
    }
  }
}
